@import "bootstrap_variables";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";
@import "datepicker";

.field_with_errors {
  @extend .is-invalid;

  input, select {
    @extend .form-control-danger;
  }
}

.form-group > .field_with_errors {
  display: inline;
}

.form-group > .field_with_errors:last-child {
  display: block;
}

select.custom-select {
  width: 100%;
}

.select2-container {
  width: 100% !important;
}

.field_with_errors .select2-container .select2-selection--single {
  border-color: $brand-danger;
}

.field_with_errors .custom-select {
  border-color: $brand-danger;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
