@import "bootstrap_variables";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap4";
@import "datepicker";

select.custom-select {
  width: 100%;
}

.select2-container {
  width: 100% !important;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
